body {
  line-height: 1.5;
  color: white;
  text-rendering: optimizeLegibility;
  text-align: center;
  user-select: none;
  min-width: 710px;
  min-height: 100vh;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, #2c379b, #1f1673);
  background-size: 800% 800%;
  animation: background-shift 120s linear infinite;
}
option {
  background-color: black;
}
a {
  font-weight: 500;
  color: white;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: rgb(140, 197, 84);
}

@keyframes background-shift {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.padded {
  padding: 0 2vw;
  padding-top: 130px;
}
.paddedList,
.paddedList2 {
  padding: 10px 2vw;
  border-radius: 2rem 0;
}

button {
  background-color: rgb(10, 12, 33);
  color: ghostwhite;
  transition: all 0.1s ease-in-out;
  font-family: monospace;
  font-weight: 900;
}
button:hover {
  transform: translateY(-0.5px);
}
button:active {
  transform: translateY(0.5px);
}

.account {
  display: flex;
  flex-wrap: wrap;
}
.searchBarDiv,
.header,
.header2,
.tabs {
  display: flex;
}
.header {
  justify-content: space-between;
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  display: flex;
  outline: 3px solid black;
  width: 100%;
  height: 45px;
}
.header > div:nth-of-type(1) {
  margin-right: 3%;
  font-size: 20px;
}
.logo {
  background-color: black;
  text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold,
    1px 1px 0 gold;
  color: black;
  border: 5px solid#0c2235;
  outline: black solid;
  border-image-slice: 1;
  border-left: none;
  width: 27%;
  height: auto;
  text-align: center;
  font-weight: 900;
}
.header > div:nth-of-type(2) {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header > div:nth-of-type(2) > div {
  width: 100%;
}
.header > div:nth-of-type(3) {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header2 {
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  border-radius: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 3;
  outline: solid black;
  width: 100%;
}
.header2 > div {
  width: auto;
}

.tabs {
  background-color: #213547;
  outline: solid black;
  border-radius: 0;
  min-width: max-content;
}
.tabs > div {
  border-right: solid black;
  width: 100%;
  min-width: max-content;
}
.tabs > div:nth-of-type(4) {
  border-right: none;
}
.loginPage {
  height: auto;
  display: flex;
  padding-bottom: 10px;
  flex-wrap: wrap;
  border: solid white;
  outline: solid #0c2235;
  border-top: none;
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 2rem 2rem;
  padding-top: 0;
  margin-top: 0;
}
.loginPage > div {
  margin-top: 20px;
  margin-bottom: 60px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.loginPage > div:nth-of-type(2) {
  margin: 0;
}
.loginPage > div > div {
  min-width: 100%;
}
.loginPage > div > div:nth-of-type(2) {
  max-width: 30%;
  min-width: 30%;
  font-size: xx-large;
}
.loginPage > button {
  min-width: max-content;
  width: auto;
  margin: 5px auto;
  margin-bottom: 0;
  height: 25px;
  padding: 0 15px;
  border-radius: 0;
}
.loginPage > input {
  min-width: 30%;
  width: 30%;
  max-width: 30%;
  margin: 10px 35%;
  outline: solid rgb(255, 255, 255) 2px;
  outline: solid rgba(255, 255, 255, 0.43) 2px;
  text-align: center;
  border-radius: 2rem;
}
.userSigned {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  height: auto;
  margin: 0;
  border: none;
  box-shadow: none;
}
.blackBg {
  background-color: rgb(2, 4, 5);
}
.bold {
  font-weight: 900;
}
.userSigned > div {
  margin: 0 10px;
  min-width: 50%;
  text-align: start;
}
.userSigned > button {
  margin: 0 10px;
  width: 40%;
  max-width: 200px;
  height: auto;
  box-shadow: none;
  min-width: max-content;
  background-color: red;
  border-radius: 0 !important;
}
@media (min-width: 1000px) {
  .padded {
    padding: 0 10vw;
    padding-top: 130px;
  }
  .paddedList,
  .paddedList2 {
    padding: 0 10vw;
  }
  .loginPage > input {
    min-width: 20%;
    width: 20%;
    max-width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
}
@media (min-width: 1500px) {
  .padded {
    padding: 0 15vw;
    padding-top: 130px;
  }
  .paddedList,
  .paddedList2 {
    padding: 0 15vw;
  }
}
.title {
  width: 100%;
  height: 20px;
  margin: 7px 0;
  margin-top: 15px;
  border-radius: 10px 10px 0 0;
  z-index: 2;
  color: gold;
  background-color: black;
  border: solid #0c2235;
  outline: solid black;
  border-bottom: none;
  text-align: center;
  font-weight: 900;
  box-sizing: border-box;
}
.title:nth-of-type(1) {
  margin-top: 15px;
}
.less {
  width: 90%;
  margin: auto;
}
.subTitle {
  font-size: smaller;
  background-color: black;
  min-width: max-content;
  width: auto;
  padding: 0 5px;
  outline: solid black;
  color: gold;
  height: max-content;
  font-weight: 900;
  text-align: center;
  margin: 10px 0;
  margin-right: auto;
  border-radius: 0 2rem 2rem 2rem;
}
.section,
.notes,
.newNoteField,
.newNoteBtn,
.searchBarDiv,
.otherSites,
.title,
.allThingsSection,
.importantCheckboxDiv,
.dispositionsNote,
.accountsPage,
.weirdBtn {
  box-shadow: 3px 3px 8px #08090b, -3px -3px 8px #1a2e3e;
}
.boxShadowed {
  box-shadow: 5px 5px 15px #08090b, -5px -5px 15px #1a2e3e;
}
.header,
.title {
  box-shadow: 2px 2px 8px #08090b, -2px -2px 8px #1a2e3e;
}
.notesDiv {
  padding-bottom: 23px;
  margin-bottom: 23px;
  width: 100%;
}
.newNoteField,
.newNoteBtn {
  border-radius: 10px;
}
.notes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  outline: solid black;
}
.blueColor {
  color: rgb(10, 12, 33);
}
.note,
.id,
.time,
.by {
  margin: 0;
  outline: solid black;
}
.by {
  width: 20%;
  background-color: #3d4e5d;
}
.note {
  width: 51%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2%;
  padding-top: 0;
  background-color: #3d4e5d;
}
.noteTitle {
  text-align: center;
}
.id {
  width: 5%;
  background-color: #213547;
}
.time {
  width: 20%;
  background-color: #213547;
}
.newNoteDiv {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.importantBtn {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
}
.importantCheckboxDiv {
  min-width: max-content;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  border: solid black;
  outline: solid white;
  border-radius: 10px;
  accent-color: rgb(10, 12, 33);
  flex-wrap: wrap;
}
.importantCheckbox:hover {
  outline: none;
}
.importantCheckbox {
  width: 60%;
  margin: 5px 20%;
  outline: none;
}
.importantWord {
  width: 80%;
  margin: 0 10%;
  outline: none;
  min-width: max-content;
}

.newNoteField {
  width: 98%;
  margin: 20px 0;
  margin-right: 2%;
  background-color: ghostwhite;
  color: black;
  border: solid black;
  outline: solid white;
  padding: 5px 1%;
  font-weight: 900;
}
.newNoteBtn {
  margin: 20px 0;
  border: solid black;
  outline: solid white;
  font-size: large;
  min-width: max-content;
  width: 100%;
}
.otherBg {
  background-color: black;
}
.a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a > .img,
.img3 {
  max-width: 30px;
  max-height: 30px;
  filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
}
.a > .img:hover,
.a > .img2:hover {
  filter: drop-shadow(1px 1px 1px red);
}
.a > .img2 {
  max-width: 25px;
  max-height: 25px;
  filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
}
.imgOther {
  max-width: 24px !important;
  max-height: 24px !important;
}
.redColor {
  color: red;
}
.otherSites {
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: solid black;
  color: white;
  z-index: 3;
}
.accountFromResults {
  display: flex;
  padding: 5px 0;
  background-color: #14171b;
  outline: black solid 2px;
  margin-bottom: 7px;
}

.accountFromResults > div:nth-child(1) {
  width: 10%;
}

/* Selects all children of .acc */
.accountFromResults > div:nth-child(n + 2):nth-child(-n + 6) {
  width: 22.5%;
}
.searchBarDiv {
  margin-top: 10px;
}
.header:has(.middle) {
  outline: none;
}
.middle {
  min-width: 100%;
  max-width: 100%;
}
.searchBarDiv,
.searchBarDivSmall {
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.55);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.borderFromTop {
  border-bottom: solid 7px rgb(10, 12, 33);
  outline: solid black 3px;
}
.searchBarDivSmall > .searchBy,
.searchBarDiv > .searchBy {
  height: 15px;
  min-width: max-content;
  background-color: rgb(10, 12, 33);
}

.searchBy > select {
  min-width: max-content;
  outline: black solid;
  background-color: transparent;
  height: 16px;
  color: white;
  background-color: rgb(10, 12, 33);
}
.searchBarDivSmall > .searchBar,
.searchBarDiv > .searchBar {
  height: 15px;
  min-width: max-content;
  width: 100%;
  max-width: 100%;
  background-color: rgb(10, 12, 33);
}
.searchBarDivSmall > .searchBy > select:hover {
  outline: solid #ffffff 1px;
  z-index: 3;
  height: max-content;
}
.searchBar:hover {
  border: solid black;
  outline: solid #ffffff 1px;
}

.searchBy {
  width: 30%;
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  border: solid black;
  outline: solid #7d7878 1px;
}

.searchBar {
  color: white;
  width: 40%;
  height: 20px;
  align-self: center;
  text-align: left;
  padding: 0;
  border: solid black;
  outline: solid #7d7878 1px;
}
.searchBtn {
  background-color: rgb(10, 12, 33);
}
.searchBtn,
.clearSearch {
  width: 30%;
  height: 19px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  border: solid black;
  border-left: none;
  outline: solid #7d7878 1px;
}
.searchBtn {
  height: 20px;
}

.weirdBtn,
.saveChangesBtn {
  width: 85%;
  border-radius: 2rem;
  margin: 15px 0;
  border: solid black;
  margin-left: 15%;
  height: 30px;
  outline: solid white 1px;
  border-radius: 0 !important;
}
.weirdBtn:hover,
.saveChangesBtn:hover,
.searchBtn:hover {
  border-radius: 0 !important;
}
.saveChangesBtn {
  width: max-content;
  margin: 0;
  background-color: rgb(20, 30, 40) !important;
  outline: none !important;
  color: white !important;
}
.saveChangesBtn:hover {
  background-color: rgb(140, 197, 84) !important;
  color: black !important;
}
#popUp {
  visibility: hidden;
  color: white;
  background-color: red !important;
  min-width: 250px;
  margin-left: -125px;
  border-radius: 2rem 2rem 0 0;
  text-align: center;
  left: 50%;
  bottom: 27px;
  position: fixed;
  border: solid black 5px;
  border-bottom: none;
  font-size: medium;
  font-weight: 900;
}
#popUp.show {
  visibility: visible;
  animation: slideIn 0.5s forwards, slideOut 0.5s 1.5s forwards;
  z-index: 3;
}
.borderLeft {
  border-left: solid black 2px;
  border-radius: 10px;
}
.clearSearch {
  background-color: red;
  width: 28%;
  border-radius: 10px;
  margin: 1.5%;
  margin: 10px auto;
  height: 30px;
  border-left: solid black;
  font-weight: 900;
}
.results {
  min-width: 100%;
  width: 100%;
  height: max-content;
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  border-bottom: solid red 3px solid black 2px;
  border-radius: 0 0 10px 10px;
  outline: solid black;
  text-align: center;
}

.notFound {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid white;
  width: 80%;
  margin: 10px auto;
  margin-top: 20px;
  background-color: black;
  border-radius: 10px;
  outline: solid black;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
.notFoundA {
  font-size: xx-large;
  height: 50%;
  background-color: red;
  padding-top: 20px;
  border-radius: 5px 5px 0 0;
}
.notFoundB {
  font-size: small;
  height: 50%;
  background-color: red;
  padding-bottom: 50px;
  padding-top: 30px;
}
.goldColor {
  color: gold;
  font-weight: 900;
}
.footer {
  bottom: 0;
  margin-top: auto;
  height: 20px;
  width: 100%;
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  outline: solid black;
  position: fixed;
  z-index: 3;
  border-top: solid rgb(10, 12, 33) 4px;
}
.aboutPage {
  min-height: 94vh;
}

.accountsPage {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 2% 5%;
  outline: solid black;
  background-color: #213547;
  width: 100%;
  border-radius: 10px 0 10px 0;
}
.accountsPage > div {
  width: 100%;
}

.searchBarDivAgainSmall > .searchBarDivSmall {
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  outline: none;
  display: flex;
  width: 100%;
}
.searchBarDivAgain > .searchBarDiv {
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  display: flex;
  padding: 2% 1%;
  margin: 0;
  outline: solid black;
}

.helpContainer {
  position: relative;
  display: inline-block;
}

.helpDropdown {
  display: none;
  position: absolute;
  z-index: 4;
  padding-top: 6px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: none;
}
.helpContainer:hover .helpDropdown {
  display: block;
}
.helpDropdown a {
  display: block;
  padding: 8px 10px;
  background-color: #213547;
  color: ghostwhite;
  text-decoration: none;
  border: black solid;
}
.helpDropdown a:hover {
  color: rgb(140, 197, 84);
  background-color: #0c2235;
}
.div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.allGoodNumbers > div > input {
  min-width: 100px;
  width: 28%;
  max-width: 100%;
}
.div2 > .input {
  min-width: 18% !important;
  max-width: 18% !important;
  overflow: hidden;
}

.allGoodAddresses > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.allGoodNumbers,
.allGoodAddresses {
  padding: 3px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.addNumberDiv,
.addAddressDiv {
  padding: 5px 10px;
}

.allGoodNumbers > div,
.allGoodAddresses > div {
  margin-bottom: 5px;
}

.allGoodNumbers > div > div {
  width: 20%;
  overflow: hidden;
}

.marginAuto {
  margin-left: auto !important;
  outline: solid white 1px !important;
}
.marginAuto:hover {
  outline: solid white 1px !important;
  border: solid white 1px !important;
  background-color: red;
}
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  background-color: #171717;
}
.homepage > div {
  padding: 20px 0;
}
.homepageTitle {
  font-size: 2rem;
}

.disposition {
  display: flex;
  justify-content: center;
  margin: 4px auto 10px auto;
  width: calc(33% / 2);
  margin-left: calc(33% / 2);
  background-color: rgb(33, 53, 71);
  background-color: rgba(33, 53, 71, 0.1);
}
.dispositionSmall {
  display: flex;
  width: 10%;
  margin-left: 10%;
  margin-top: 3px;
  background-color: rgb(33, 53, 71);
  background-color: rgba(33, 53, 71, 0.1);
}
.disposition > select,
.dispositionSmall > select {
  width: 100%;
  background-color: #00000040;
}
.other {
  min-width: 60%;
  max-width: 60%;
  margin: 0;
}
.other2 {
  min-width: 40%;
  max-width: 40%;
  margin: 0;
  text-align: center;
}
select {
  width: 30%;
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  border: none;
  height: 19px;
  text-align: right;
  outline: solid black;
}

select::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(10, 12, 33);
  border: solid black;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 10px 10px;
  border: solid white 1px;
  outline: solid black;
  background-color: transparent;
  width: 100%;
  padding: 10px 20px;
  padding-bottom: 15px;
  margin: 7px 0;
}
.allThingsSection {
  display: flex;
  border: solid gold 1px;
  border-radius: 0 0 10px 10px;

  outline: solid black;
  margin: 20px 0;
  margin-bottom: 30px;
  background-color: transparent;
}
.allThingsSection > .addAddressDiv,
.allThingsSection > .addNumberDiv {
  width: 100%;
}
input {
  overflow: hidden;
  text-align: end;
  color: ghostwhite;
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  outline: solid black;
  max-width: 90px;
  width: 100%;
  font-weight: 100;
  font-size: 13px;
  height: 14px;
}
.beforeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.8);
  color: white;
  outline: black solid;
  text-align: start;
  font-weight: 600;
  font-size: 14px;
  height: 17.6px;
  border-width: 1px;
  border-style: inset;
  border-color: rgb(13, 4, 4);
}
.sixthStatus {
  width: 28%;
}
.select {
  border-width: 1px;
  border-style: inset;
  background-color: rgb(20, 30, 40);
  padding-right: 10px;
  font-weight: 700;
  width: 70%;
  margin-left: auto;
  color: white;
  outline: solid black 3px;
}
.div > .div2 {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}
.maxContent {
  width: 100%;
  max-width: 100%;
}
.minContent {
  width: max-content;
  max-width: max-content;
}
.eighty,
.seventy {
  width: 72%;
  max-width: 72%;
}
.twenty {
  width: 24%;
  max-width: 24%;
}
.thirty {
  width: 24%;
  max-width: 24%;
}

.sixth {
  width: 16%;
  max-width: 16%;
}
.smallImg,
.div > img {
  margin: auto;
  width: 5%;
  height: 5%;
}
.smallImg2 {
  height: 20px;
  width: 15%;
}

.tenth {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
.tenth:nth-of-type(2n) {
  min-width: max-content;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.importantInput {
  outline: white solid 1px;
}

button:hover,
textarea:hover,
.importantCheckboxDiv:hover,
a.searchBtn:hover {
  outline: solid white 1px;
  z-index: 2;
  transition: all ease-in;
  border-radius: 10px !important;
}
button:hover {
  border: solid 2px;
}
.weirdBtn:hover {
  border: solid 1px;
}
input:hover,
select:hover,
.select:hover {
  outline: solid gold 1px;
  z-index: 2;
  border-color: transparent;
}
select:hover,
.select:hover {
  border: solid white 2px;
  outline: solid red 2px;
}
.select:hover {
  border: solid black 3px;
  outline: solid gold 1px;
}
.twoRem {
  border-radius: 2rem;
  outline: solid white 1px;
}
.video {
  width: 100%;
  display: flex;
}

.video > div {
  width: 45%;
  margin: auto;
  margin-top: 0;
}
.video > video {
  max-width: 40%;
  margin: auto;
  margin-top: 0;
  border: solid rgb(10, 12, 33) 3px;
  outline: solid black;
}
.feature,
.leftAlign {
  text-align: left;
  margin-top: 0;
}
.center {
  text-align: center;
}
.dispositionsNote {
  background-color: rgb(2, 4, 5);
  background-color: rgba(2, 4, 5, 0.97);
  border: solid black;
  outline: solid white 1px;
  width: 100%;
  font-size: 12px;
}

.featureTitle {
  width: 98%;
  text-align: center;
}
.feature {
  font-size: small;
  margin: 10px;
}

.h3 {
  margin: 10px;
  font-size: small;
  outline: solid white 1px;
  text-align: center;
  border: solid black;
}
.featureSmaller {
  font-size: x-small;
  margin: 5px 0;
  text-align: start;
}

@keyframes slideIn {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 26px;
  }
}

@keyframes slideOut {
  0% {
    bottom: 26px;
  }
  100% {
    bottom: -100px;
  }
}

.navbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  transition: all 0.5s ease-in;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
}
.blue {
  color: rgb(10, 12, 33);
}
